doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title basketball live
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description", content="")
		link(href="http://192.168.3.41:8001/static/public/css/OA.css",rel="stylesheet")
		script(src="http://192.168.3.41:8001/static/public/vender/jquery/jquery.min.js")
		script(src="./static/js/socket.io.js")
	body
		block content
		