<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="node_modules/vue/dist/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<input type="checkbox" id="jack" v-bind:value="{text:'jack'}" v-model="checkedNames">
			<label for="jack">Jack</label>
			<input type="checkbox" id="john" v-bind:value="{text:'John'}" v-model="checkedNames">
			<label for="john">John</label>
			<input type="checkbox" id="mike" v-bind:value="{text:'Mike'}" v-model="checkedNames">
			<label for="mike">Mike</label>
			<br>
			<span>Checked names: {{ checkedNames }}</span>
		</div>
		<script>
			
			var app = new Vue({
				el:"#app",
				data:{
					checkedNames: []
				}
			});
			
		</script>
	</body>
</html>
