<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
	</head>
	<body>
		
		<div id="customArr">
			
			<p>
				<label><input type="checkbox" value="all" v-model="selectAll" v-on:click="clickSelectAll" />全选/全不选</label>
			</p>

			<check-list :items="items" :selectedlist="selectedList">
				
			</check-list>
		</div>
		<br>
		<br>
		<br>
		<br>
		
		
		<script>
			const checkList = {
				props:['items'],
				template:`
				<ul>
					<li v-for="item in items"><label><input type="checkbox" v-bind:value="item" v-model="selectedlist" v-on:click="clickChk" />{{item}}</label></li>
				</ul>
				`,
				data:function(){
					return {
						selectedlist:[]
					};
				},
				
				methods:{
					'clickChk':function(){
						//this.selectAll = this.selectedList.length === this.items.length;
						//this.$emit('callall',this.selectedList.length === this.items.length);
					}
				}
			};
			
			var customArr = new Vue({
				el:"#customArr",
				data:{
					selectAll:false,
					items:['语文','数学','英语','物理','化学','生物']
				},
				methods:{
					'clickSelectAll':function(){
						this.items = ['yuwen','shuxue','yingyu','wuli','huaxue','shegnwu']
					}
				},
				components:{
					'check-list' : checkList
				}
			});
			
			
			
			
		</script>
	</body>
</html>
